{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "LegoMall - 로그인" %}{% endblock %}

{% block content %}
<img class="legoicon" src="{% static 'image/lego_icon.png' %}" style="display:inline-block;">
<h2 style="display:inline-block;">{% trans "로그인" %}</h2>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}아직 LegoMall 회원이 아니신가요? <a href="{{ signup_url }}" style="text-decoration: none; font-weight: bold;">회원가입</a>{% endblocktrans %}</p>
<p style="font-size: large;">> 소셜 로그인</p>
<div class="socialaccount_ballot">
  <ul class="socialaccount_providers" style="list-style: none; padding-left: 0; margin-left: 0; background-color: #FFCF00; border-radius: 5px; width: 70px; text-align: center;">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or" style="margin-bottom: 10px; font-size: large;">{% trans '> LegoMall 계정으로 로그인' %}</div>
</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}" style="text-decoration: none; font-weight: bold; color: #D01012;">{% trans "Forgot Password?" %}</a>
  <br>
  <button class="primaryAction" type="submit" style="background-color: #FFCF00; border-radius: 5px; border: 0; outline: 0; margin: 10px 0 80px 0;">{% trans "로그인" %}</button>
</form>

{% endblock %}
