@font-face {
  font-family: 'Cafe24SsurroundAir';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#user-text {
  font-size: x-large;
  font-weight: bold;
  color: #727272;
}

#infobox {
  margin-top: auto;
  margin-bottom: auto;
}

#comment-list {
  list-style-type: none;
  margin: 10px 0 10px 0;
}

#comment-list > a {
  font-size: large;
  color: inherit;
}

#comment-list > a:hover {
  color: #B8B5E1;
}