body { 
  padding-top: 56px; 
}

.navbar {
  background-color: #FFCF00;
}

.nav-link {
  font-weight: bold;
  margin-right: 10px;
}

.nav-link:hover {
  font-size: large;
}

.nav-link.active {
  font-size: large;
}

#logo {
  margin-left: 50px;
  margin-right: 50px;
  width: 130px;
  height: 64px;
}

#login {
  margin-left: auto;
  margin-right: 50px;
  width: 60px;
  height: 30px;
  border: 3px solid #ffffff;
  border-radius: 7px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#login:hover {
  border: 3px solid #D01012;
  background-color: #D01012;
  color: #ffffff;
}

#logout {
  margin-right: 50px;
  width: 80px;
  height: 30px;
  border: 3px solid #ffffff;
  border-radius: 7px;
  background-color: #ffffff;
  text-align: center;
  font-weight: bold;
}

#logout:hover {
  border: 3px solid #D01012;
  background-color: #D01012;
  color: #ffffff;
}

#loginicon {
  width: 50px;
  height: 55px;
}

#loginmodal {
  border: 3px solid #FFCF00;
  border-radius: 10px;
  width: 250px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#loginmodal:hover {
  background-color: #FFCF00;
}

#loginmodal > a {
  text-decoration: none;
  color: #000000;
}

#modal-footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#username {
  margin-right: 10px;
}

#userimg {
  margin-left: auto;
  margin-right: 10px;
}

#hook_button {
  display: inline-block;
  background-color: #FFC107;
  border-radius: 7px;
  height: 27px; 
  width: 70px; 
  padding: 3px;
  margin-bottom: 5px;
}

#hook_text { 
  font-size: 13px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.detail {
  margin-left: 20px;
  margin-bottom: 20px;
}

.detailbtn {
  background-color: #FD8024;
}

.detailbtn:hover {
  color: white;
}

.cartbtn {
  background-color: ffffff;
  border: 2px solid #FD8024;
}

.cartbtn:hover {
  background-color: #FD8024;
  color: #ffffff;
}

#create {
  margin-right: 10px;
  width: 80px;
  height: 30px;
  border: 3px solid #D01012;
  border-radius: 7px;
  background-color: #D01012;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
}

#create:hover {
  border: 3px solid #ffffff;
  background-color: #ffffff;
  color: #D01012;
  text-align: right;
  float: right;
}

.modifytext {
  text-align: right;
}

.modify {
  text-decoration: none; 
  color: #D01012;
  font-weight: bold;
}

.modify:hover {
  color: #1033d0;
}

.legoicon {
  display: inline-block;
  width: 47px;
  height: 53px;
  margin-bottom: 13px;
}

.category-badge {
  display: inline-block;
  font-size: 20px;
  margin-bottom: 15px;
}

#category_button {
  display: inline-block;
  background-color: #B8B5E1;
  border-radius: 7px;
  height: 27px; 
  width: 75px; 
  padding: 3px;
  margin-bottom: 5px;
}

.search-card {
  margin-top: 50px;
}

#button-search {
  background-color: #E0E0E0;
}

.categories-card {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #E0E0E0;
  border-radius: 5px;
  width: 180px;
  height: 260px;
}

.category-text {
  display: table-cell;
  vertical-align: middle;
  background-color: #E0E0E0;
  text-align: center;
  font-weight: bold;
  width: 180px;
  height: 40px;

}

.categories li {
  list-style: none;
  margin: 5px 0 5px 0;
}

.categories a {
  text-decoration: none;
  color: #000000;
}

/* post_detail */
.accordion-button.collapsed {
  background: #ffffff;
}

#product-table {
  border: 1px solid #a5a5a5;
  border-radius: 10px;
  padding-top: 5px;
}

#product-table-text {
  text-align: center;
  padding-top: 3px;
}

#product-table-content {
  text-align: center;
  font-size: 40px;
  font-weight: lighter;
}

summary::marker{
  display: none;
  content: "";
}

details[open] summary::marker {
  content: "";
}

#submitbtn {
  background-color: #FFCF00;
  margin: 10px 0 5px 0;
  float: right;
}

#commentbtn {
  border: 2px solid #FFCF00;
  width: 60px;
  height: 30px;
  padding: 0;
  border-radius: 7px;
  font-weight: bold;
}

#commentbtn:hover {
  border: 2px solid #D01012;
  background-color: #D01012;
  color: #ffffff;
}

.addcart {
  border: 2px solid;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #ffffff;
  color: #D01012;
}

.addcart:hover {
  color: #ffffff;
  background-color: #D01012;
}

/* Pagination */

.pagination > li > a {
  color: #201D48;
}

.my.pagination > .active > a, 
.my.pagination > .active > span, 
.my.pagination > .active > a:hover, 
.my.pagination > .active > span:hover, 
.my.pagination > .active > a:focus, 
.my.pagination > .active > span:focus {
  background: #201D48;
  border-color: #201D48;
}

/* footer */

footer {
  background-color: #201D48;
}

footer p {
  font-size: small;
}