{% load static %}
{% load socialaccount %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container-fluid">
    <a href="/shopping">
      <img id="logo" src="{% static 'image/logo.png' %}">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/shopping">레고 제품 쇼핑</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypages/manufacturer">회사 소개</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mypages/homepage">홈페이지</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="/mypages/mypage">마이페이지</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cart"><i class="fas fa-shopping-cart"></i></a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      {% if user.socialaccount_set.all.0.get_avatar_url %}
        <img id="userimg" class="rounded-circle" width="30px"
          src="{{user.socialaccount_set.all.0.get_avatar_url}}">
        {% else %}
        <img id="userimg" class="rounded-circle" width="25px"
          src="https://doitdjango.com/avatar/id/479/e83ecdebe964d430/svg/{self.author.email}/">
      {% endif %}
      <div id="username">
        {{user.username}} 님
      </div>
      {% if user.is_staff or user.is_superuser %}
      <div id="create"><a style="text-decoration: none; color: inherit;" href="/shopping/create_post">상품 등록</a></div>
      {% endif %}
      <div id="logout"><a role="button" style="text-decoration: none; color: inherit;" href="/accounts/logout/">로그아웃</a></div>
      {% else %}
      <div id="login"><a role="button" data-bs-toggle="modal" data-bs-target="#loginModal">로그인</a></div>
      {% endif %}
    </div>
  </div>
</nav>

<!-- Modal-->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <img id="loginicon" src="{% static 'image/legoicon.png' %}">
        <h5 class="modal-title" id="loginModalLabel"> &nbsp;&nbsp;Log In</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div>
          <div id="loginmodal">
            <a role="button" href="/accounts/login/"><i class="fas fa-sign-in-alt"></i> 로그인하기</a>
          </div>
          <div id="loginmodal">
            <a role="button" href="{% provider_login_url 'google' %}"><i class="fab fa-google"></i> 구글 계정으로 로그인</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div id="modal-footer">
          <div style="display: inline-block">아직 회원이 아니신가요?</div>
          <div style="display: inline-block">
            <a role="button" class="btn btn-outline-dark btn-block btn-sm" href="/accounts/signup/">회원가입</a>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<script>
  const currentLocation = location.href;
  const navItem = document.querySelectorAll('.nav-link');
  const navLength = navItem.length;
  for(let i=0; i<navLength; i++){
    if(currentLocation.includes(navItem[i].href)){
      navItem[i].className = "nav-link active"
    }
  }
</script>