{% extends 'shopping/base.html' %}
{% load humanize %}
{% block main_area %}
  <div class="container my-5">
    <div class="row">
      <div class="col-8">
        <img src="{{ post.head_image.url }}" class="card-img-top" alt="{{ post.product_name }}의 이미지">
      </div>
      <div class="col-4">
        <div id="hook_button" class="my-3">
          <p id="hook_text">{{ post.hook_text }}</p>
        </div>
        <h2>{{ post.product_name }}</h2>
        <br>
        <h4>{{ post.price | intcomma }} 원</h4>
      </div>
    </div>
  </div>
  <hr>
  <div class="m-5">
    <h3>제품 상세정보</h3>
    <p>{{ post.content }}</p>
  </div>
{% endblock %}