{% extends 'shopping/base.html' %}
{% load static %}
{% load humanize %}
{% block main_area %}
  <!-- Product post-->
  <div class="container my-5">
    {% if search_info %}
    <img class="legoicon" src="{% static 'image/lego_icon.png' %}">
    <div class="category-badge">{{ search_info }}</div>
    {% endif %}
    {% if category %}
      <img class="legoicon" src="{% static 'image/lego_icon.png' %}">
      <div class="category-badge">{{ category }}</div>
    {% endif %}
    <div class="row g-2">
      {% if post_list.exists %}
      {% for p in post_list %}
      <div class="col-lg-4 col-sm-6">
        <div class="card h-100" style="width: 20rem;">
          <img src="{{ p.head_image.url }}" style="width: 19rem; height: 15rem;" class="card-img-top" alt="{{ p }}의 이미지">
          <div class="card-body">
            <div id="hook_button">
              <p id="hook_text">{{ p.hook_text }}</p>
            </div>
            {% if p.category %}
            <div id="category_button">
              <a href="{{ p.category.get_absolute_url }}" style="text-decoration: none;"><p id="hook_text" style="color: #ffffff">{{ p.category }}</p></a>
            </div>
            {% endif %}
            <h5 class="card-title" style="font-weight: bold;">{{ p.product_name }}</h5>
            <p class="card-text">{{ p.price | intcomma }} 원</p>
            <p class="card-text">{{ p.get_content_markdown | truncatewords_html:15 | safe }}</p> 
          </div>
          <div class="detail">
            <a href="{{ p.get_absolute_url }}" class="btn detailbtn">제품 보러가기</a>
            <a href="{% url 'cart:add_cart' p.id %}"><i class="fas fa-shopping-cart"></i></a>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <h2>등록된 상품이 없습니다.</h2>
      {% endif %}
    </div>
  </div>

  <!-- Pagination-->
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination my justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% for page_number in page_obj.paginator.page_range %}
      {% if page_number == page_obj.number %}
      <li class="page-item active"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{page_number}}">{{page_number}}</a></li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
    {% endif %}
  </nav>
{% endblock %}